body {
    display: flex;
    background-color: gray;
    height: 100vh;
    justify-content: center;
    align-items: center;
}  

.containerChild {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    width: fit-content;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.containterTareas {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.inputContainer .textField {
    padding: 4px;
    border-radius: 6px;
    width: 400px;
    height: 20px;
}

.inputContainer .button {
    padding: 4px;
    border-radius: 6px;
    width: 150px;
    height: 30px;
    background-color: blue;
    border-color: transparent;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    color: white;
}

.inputContainer .button:hover {
    padding: 4px;
    border-radius: 6px;
    width: 150px;
    height: 30px;
    background-color: rgb(16, 16, 207);
    border-color: transparent;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    color: white;
}

.tareas {
    height: 400px;
    width: 200px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blueviolet;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
}

.listas {
    padding: 0px;
    padding-right: 20px;
}

.titleCard {
    padding: 0%;
}

.buttonsSeparate {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.task {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.task .taskButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}